{#
    Chapitre 07 — Synthèse : comparaison, limites & take-aways.
    Refermer la boucle : tableau 12 axes, règle des deux questions, limites honnêtes, plan d'action dès lundi.
#}
<section
    data-chapter="07"
    data-chapter-title="Synthèse"
>
    {% include 'presentation/chapters/07-synthese/slides/_01_intro.html.twig' %}
    {% include 'presentation/chapters/07-synthese/slides/_02_comparatif.html.twig' %}
    {% include 'presentation/chapters/07-synthese/slides/_03_hybridation.html.twig' %}
    {% include 'presentation/chapters/07-synthese/slides/_04_decision_tree.html.twig' %}
    {% include 'presentation/chapters/07-synthese/slides/_05_limites.html.twig' %}
    {% include 'presentation/chapters/07-synthese/slides/_06_antipatterns.html.twig' %}
    {% include 'presentation/chapters/07-synthese/slides/_07_takeaways.html.twig' %}
    {% include 'presentation/chapters/07-synthese/slides/_08_fin.html.twig' %}
</section>
