{% import 'presentation/_macros.html.twig' as ui %}

<section data-slide-id="02-intro">
    {{ ui.slide_header('Chapitre 2', 'Du JS au PHP') }}

    <p>
        Ce qu'on <strong>emprunte</strong> au modèle composant JS, ce qu'on <strong>laisse</strong>.
    </p>

    <ol>
        <li>Quels concepts on garde de React/Vue ?</li>
        <li>Comment Symfony UX les assemble côté serveur ?</li>
    </ol></section>
