{% import 'presentation/_macros.html.twig' as ui %}

<section data-slide-id="03-intro">
    {{ ui.slide_header('Chapitre 3', 'Twig Components') }}

    <p>
        Le socle : un composant = une classe PHP + un template Twig.
    </p>

    <ol>
        <li>Structure, props, slots</li>
        <li>Services injectés et méthodes calculées</li>
        <li>Pièges à connaître</li>
    </ol>
</section>
