{% import 'presentation/_macros.html.twig' as ui %}

<section data-slide-id="03-definition">
    {{ ui.slide_header('3.1', 'Une classe PHP + un template Twig') }}

    <table class="recap-table">
        <thead>
            <tr><th>React</th><th>Twig Component</th></tr>
        </thead>
        <tbody>
            <tr>
                <td><code>class Alert extends Component</code></td>
                <td><code>#[AsTwigComponent] class Alert</code></td>
            </tr>
            <tr>
                <td><code>props</code></td>
                <td>propriétés publiques PHP typées</td>
            </tr>
            <tr>
                <td><code>render()</code></td>
                <td>template <code>Alert.html.twig</code></td>
            </tr>
            <tr>
                <td><code>&lt;Alert ... /&gt;</code></td>
                <td><code>&lt;twig:Alert ... /&gt;</code></td>
            </tr>
            <tr>
                <td><code>children</code></td>
                <td><code>{{ '{% block content %}{% endblock %}' }}</code></td>
            </tr>
        </tbody>
    </table>

<pre><code class="language-twig">{% verbatim %}{# Syntaxe recommandée #}
<twig:Alert message="Commande validée" type="success" />

{# Avec slot #}
<twig:Alert type="warning">
    Ton abonnement expire dans <strong>3 jours</strong>.
</twig:Alert>{% endverbatim %}</code></pre>
</section>
