{% import 'presentation/_macros.html.twig' as ui %}

<section data-slide-id="05-intro">
    {{ ui.slide_header('Chapitre 5', 'Cycle de vie') }}

    <p>
        On ouvre le capot : du clic au DOM patché, qui fait quoi&nbsp;?
    </p>

    <ol>
        <li>La séquence client ↔ serveur</li>
        <li>Les hooks pour s'accrocher au cycle</li>
        <li>Comment l'observer quand ça cloche</li>
    </ol></section>
