{% import 'presentation/chapters/02-avant-symfony-ux/_macros.html.twig' as ui %}

<section data-slide-id="02-render-controller">
    {{ ui.slide_header('2.3', 'render(controller(...))', 'La sous-requête HTTP interne') }}

<pre><code class="language-twig">{% verbatim %}{# Dans le layout principal #}
{{ render(controller('App\\Controller\\CartController::miniCart')) }}{% endverbatim %}</code></pre>

<pre class="r-stretch"><code class="language-php">final class CartController extends AbstractController
{
    public function miniCart(CartRepository $carts, Security $security): Response
    {
        $cart = $carts->findCurrentFor($security->getUser());

        return $this->render('cart/_mini_cart.html.twig', [
            'itemCount' => $cart->count(),
            'total'     => $cart->total(),
        ]);
    }
}</code></pre>

    <p><small>Variantes : <code>render_esi</code> (cache Varnish), <code>render_hinclude</code> (lazy JS)</small></p>
</section>
