{% import 'presentation/chapters/02-avant-symfony-ux/_macros.html.twig' as ui %}

<section data-slide-id="02-stimulus">
    {{ ui.slide_header('2.6', 'Template + sprinkle de JS', 'jQuery, puis Stimulus') }}

<pre class="r-stretch"><code class="language-twig">{% verbatim %}<div data-controller="search"
     data-search-url-value="{{ path('app_search') }}">
    <input data-search-target="input"
           data-action="input->search#query">
    <ul data-search-target="results"></ul>
</div>{% endverbatim %}</code></pre>
</section>
