<!DOCTYPE html>
<html lang="fr" class="h-full bg-white dark:bg-gray-900">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="h-full">
<el-dialog>
    <dialog id="sidebar" class="backdrop:bg-transparent lg:hidden">
        <el-dialog-backdrop
            class="fixed inset-0 bg-gray-900/80 transition-opacity duration-300 ease-linear data-closed:opacity-0"></el-dialog-backdrop>

        <div tabindex="0" class="fixed inset-0 flex focus:outline-none">
            <el-dialog-panel
                class="group/dialog-panel relative mr-16 flex w-full max-w-xs flex-1 transform transition duration-300 ease-in-out data-closed:-translate-x-full">
                <div
                    class="absolute top-0 left-full flex w-16 justify-center pt-5 duration-300 ease-in-out group-data-closed/dialog-panel:opacity-0">
                    <button type="button" command="close" commandfor="sidebar" class="-m-2.5 p-2.5">
                        <span class="sr-only">Close sidebar</span>
                        <twig:ux:icon name="tabler:x" class="size-6 text-white"/>
                    </button>
                </div>

                <!-- Sidebar component, swap this element with another sidebar if you like -->
                <div
                    class="relative flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4 ring-1 ring-white/10 dark:before:pointer-events-none dark:before:absolute dark:before:inset-0 dark:before:bg-black/10">
                    <div class="relative flex h-16 shrink-0 items-center gap-x-2 text-white">
                        <twig:ux:icon name="tabler:bolt" class="size-7 text-indigo-400"/>
                        <span class="text-sm font-semibold">Live Components Demo</span>
                    </div>
                    {% include 'common/_sidebar-nav.html.twig' %}
                </div>
            </el-dialog-panel>
        </div>
    </dialog>
</el-dialog>

<!-- Static sidebar for desktop -->
<div class="hidden bg-gray-900 ring-1 ring-white/10 lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-black/10 px-6 pb-4">
        <div class="flex h-16 shrink-0 items-center gap-x-2 text-white">
            <twig:ux:icon name="tabler:bolt" class="size-7 text-indigo-400"/>
            <span class="text-sm font-semibold">Live Components Demo</span>
        </div>
        {% include 'common/_sidebar-nav.html.twig' %}
    </div>
</div>

<div class="lg:pl-72">
    <div
        class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-xs sm:px-6 lg:hidden dark:border-white/10 dark:bg-gray-900">
        <button type="button" command="show-modal" commandfor="sidebar"
                class="-m-2.5 p-2.5 text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
            <span class="sr-only">Ouvrir la navigation</span>
            <twig:ux:icon name="tabler:menu-2" class="size-6"/>
        </button>
        <div class="flex items-center gap-x-2 text-gray-900 dark:text-white">
            <twig:ux:icon name="tabler:bolt" class="size-6 text-indigo-500 dark:text-indigo-400"/>
            <span class="text-sm font-semibold">Live Components Demo</span>
        </div>
    </div>

    <main class="py-10">
        <div class="px-4 sm:px-6 lg:px-8">
            {% block body %}{% endblock %}
        </div>
    </main>
</div>

{% include 'common/flash-messages.html.twig' %}

<script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
</body>
</html>
