{% import 'presentation/_macros.html.twig' as ui %}

<section data-slide-id="01-intro">
    {{ ui.slide_header('Chapitre 1', 'Problème & contexte') }}

    <p>
        Avant Symfony UX, on composait l'UI avec <code>include</code>, <code>macro</code>,
        <code>render()</code>, form types, Stimulus…
    </p>

    <ul>
        <li>Que résolvent ces outils ?</li>
        <li>Où s'arrêtent-ils ?</li>
    </ul>
</section>
