{#
    Chapitre 01 — Problème & contexte : archéologie des solutions historiques.

    Ce fichier = UNE slide horizontale (index 1), composée de sous-slides verticales.
    L'ordre des include = l'ordre de navigation avec ↓.
#}
<section
    data-chapter="01"
    data-chapter-title="Problème & contexte"
>
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_01_intro.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_03_twig_include.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_04_twig_macro.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_05_render_controller.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_06_twig_extensions.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_07_form_type.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_08_stimulus.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_11_douleurs.html.twig' %}
    {% include 'presentation/chapters/01-probleme-et-contexte/slides/_12_transition.html.twig' %}
</section>
